

.nav-settings {
    font-size: 20px;
}

.nav-settings ul {
    padding: 25px 0px;
}

.nav-settings i {
    margin-right: 20px;
}

.nav-settings__version {
    display: flex;
    justify-content: space-between;
}

.nav-settings__LatestVersion {
    color: var(--grey);
}


.nav-settings__li-divider {
    width: 100%;
    height: 25px;
    border-bottom: var(--main-border);
}

.nav-settings__Display{
    display: flex;
}



.nav-settings_new-dot {
    display: flex;
    align-items: center;
    justify-content: center
    width: 20px;
    height: 20px;
    background-color: tomato;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    margin-left: 10px;
}



.nav-settings__theme-li {
    display: flex;
}

.nav-settings__theme {
    display : flex;
    justify-content: space-between;
}

.nav-settings__Default {
    color: var(--grey);
}