

.Recommended-friends {
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 25px 0px;
    margin: 25px 0px;
}

.Recommended-friends-title {
    font-size: 18px;
    color: var(--grey);
}

.Recommended-friends span {
    display: block;
    margin:100px 0;
    text-align: center;
    color: var(--grey);
    font-size: 24px;    
}




.open-chat-header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat-header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.open-post__title {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 7px;
}

.open-post__hashtag {
    text-transform: uppercase;
    opacity: 0.6;
}


.open-post__members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 3px;
}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider {
    width: 2px; 
    height: 10px;
    background-color: var(--grey);
    margin: 0px 5px;

}

.open-post__member-status {
    color: rgb(253, 85, 189);
}



.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.open-post__photo div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px
    /*top: 80px;
    right: 8px; */
}

.open-post__photo span {
    margin-left: 5px;
}


.open-post:last-child {
    border-top: var(--main-border);
    padding-top: 10px;
}




@keyframes heartBeat {
0%{
    color: white; 
    transform: none;
}

50%{
    color: tomato; 
    transform: scale(1.2);
}

100%{
    color: white; 
    transform: none;
}
} 

.open-post__photo .fa-heart:hover {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}

/*
.Recommended_friends {
    color: rgba(0,0,0,0.5);
    font-size: 20px;
    display: flex;
}

.Recommended_friends :first-child {
    padding-top: 15px;
    padding-bottom: 300px;
}

.Recommended_friends:last-child {
    display: flex;
    align-items: center;
    padding-bottom: 28px;
    border-bottom: var(--main-border);

}
*/

/*

.main-screen {
    width: 100%;
    height: 100px;
    align-items: center;
    box-sizing: border-box;
}


.find-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find-icons_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

*/